<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="NewBehavior0">
                    <serviceMetadata httpGetEnabled="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="NewBehavior0" name="myservice.Service1">
                <endpoint address="KrunalTrivedi" binding="basicHttpBinding"
                    bindingConfiguration="" contract="myservice.Iservice1" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:7789" />
                    </baseAddresses>
                </host>

              <endpoint address="http://localhost:1111" binding="wsHttpBinding"
                    bindingConfiguration="" contract="myservice.Iservice1" name="Pragati" />
              <endpoint address="http://localhost:3333" binding="wsHttpBinding"
                   bindingConfiguration="" contract="myservice.Iservice1" name="Rajeev" />
            </service>
        </services>
    </system.serviceModel>
</configuration>